*{
    box-sizing: border-box;
}

/* Header */
header{
   background-color: rgba(254, 75, 75, 100) !important;
}

/* Header: Navbar */

.navbar{
    font-family: Proxima Nova, sans-serif;
    font-weight: 800;
    font-size: 36px;
    letter-spacing: 2px;
    padding: 3rem;
}

/* Hero */

body{
    background-color: #FCF9F5;
    font-family: Proxima Nova, sans-serif;
    overflow-y: auto;
    overflow-x: hidden;
}

.hero-1{
    background-color: #FE4B4B;
    margin-top: -16.5%;
}

#headline{
    color: #FCF9F5;
    margin-top: 400px;
    margin-left: 110px;
}

h1{
    font-weight: 800;
    font-size: 80px;
    line-height: 80px;
    letter-spacing: 1px;
}

p{
    font-weight: 500;
    font-size: 28px;
    line-height: 32px;
    padding-top: 15px;
    padding-bottom: 40px;
    letter-spacing: 1px;
}

#orderNow{
    background-color: #FCEB53;
    width: 320px;
    border: none;
    border-radius: 20px;
    font-weight: 800;
    font-size: 42px;
    color: #262626;
    margin-left: 13px;
}

.empanadaHero{
    height: 140%;
    width: 100%;
    margin-top: -740px;
    margin-left: 610px;
    overflow-y: auto;
    overflow-x: hidden;
}

/* Products */

#menu{
    background-color: #FCF9F5;
}

.productsHeadline{
    font-weight: 800;
    font-size: 80px;
    color: #FE4B4B;
    line-height: 80px;
    letter-spacing: 1px;
    padding-top: 20px;
}

#productsSubhead{
    font-weight: 500;
    font-size: 28px;
    color: #FE4B4B;
    line-height: 32px;
    padding-top: 15px;
    padding-bottom: 40px;
    letter-spacing: 1px;
}

#learnMore{
    background-color: #FCEB53;
    width: 280px;
    border: none;
    border-radius: 20px;
    font-weight: 800;
    font-size: 36px;
    color: #262626;
    margin-left: 13px;
}

/* Media Queries */

