*{
    box-sizing: border-box;
}

/* Header */
header{
   background-color: rgba(254, 75, 75, 100) !important;
}

/* Header: Navbar */

.navbar{
    font-family: Proxima Nova, sans-serif;
    font-weight: 800;
    font-size: 36px;
    letter-spacing: 2px;
    padding: 3rem;
}

#logo{
    width: 200px;
    height: 200px;
}

/* Hero */

body{
    background-color: #FCF9F5;
    font-family: Proxima Nova, sans-serif;
    overflow-y: auto;
    overflow-x: hidden;
}

.hero-1{
    background-color: #FE4B4B;
    margin-top: -15%;
}

#headline{
    color: #FCF9F5;
    margin-top: 400px;
    margin-left: 110px;
}

h1{
    font-weight: 800;
    font-size: 80px;
    line-height: 80px;
    letter-spacing: 1px;
}

p{
    font-weight: 500;
    font-size: 28px;
    line-height: 32px;
    padding-top: 15px;
    padding-bottom: 40px;
    letter-spacing: 1px;
}

#orderNow{
    background-color: #FCEB53;
    width: 320px;
    border: none;
    border-radius: 20px;
    font-weight: 800;
    font-size: 42px;
    color: #262626;
    margin-left: 13px;
}

.empanadaHero{
    height: 140%;
    width: 100%;
    margin-top: -740px;
    margin-left: 610px;
    overflow-y: hidden;
    overflow-x: hidden;
}

/* Products */

#menu{
    background-color: #FCF9F5;
}

.productsHeadline{
    font-weight: 800;
    font-size: 80px;
    color: #FE4B4B;
    line-height: 80px;
    letter-spacing: 1px;
    padding-top: 20px;
}

#productsSubhead{
    font-weight: 500;
    font-size: 28px;
    color: #FE4B4B;
    line-height: 32px;
    padding-top: 15px;
    padding-bottom: 40px;
    letter-spacing: 1px;
}

#learnMore{
    background-color: #FCEB53;
    width: 280px;
    border: none;
    border-radius: 20px;
    font-weight: 800;
    font-size: 36px;
    color: #262626;
    margin-left: 13px;
}

/* Media Queries */

/* For Desktop */
@media only screen and (max-width: 1440px) {

body{
    overflow-y: scroll;
    overflow-x: hidden;
}

/* Navbar */
.navbar{
    padding: 4rem;
}

.navbar-nav{
    font-size: 25px;
}

#logo{
    width: 150px;
    height: 150px;
}

/* Hero */
.hero-1{
    height: 100vh;
    margin-top: -12%;
}

#headline{
    margin-top: 220px;
    margin-left: 100px;
}

h1{
    font-size: 50px;
    line-height: 55px;
    letter-spacing: 2px;
}

p{
    font-size: 25px;
    line-height: 30px;
}

.empanadaHero{
    height: 100%;
    width: 110%;
    margin-top: -580px;
    margin-left: 400px;
    overflow-y: hidden;
    overflow-x: hidden;
}

#orderNow{
    width: 220px;
    border: none;
    border-radius: 20px;
    font-weight: 800;
    font-size: 30px;
    color: #262626;
    margin-left: 13px;
}
}